#IDE folders and build folders
.git
.vs
.log
cmake-build-debug
out

#build files
SmartTester.exe
SmartTester.ilk
SmartTester.pdb
SmartTester
bin
Debug
logs
debian_64/SmartTester
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

#.idea files
/.idea/vcs.xml
/.idea/SmartTester.iml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
*.log
*.xml
/windows_64/config.ini
/windows_64/test.csv
/windows_64/fda_sc_nobolus.csv
/windows_64/log.csv
