#IDE folders and build folders
.git
.vs
.log
cmake-build-debug
out

#build files
SmartTester.exe
SmartTester.ilk
SmartTester.pdb
bin
Debug
logs

#.idea files
/.idea/vcs.xml
/.idea/SmartTester.iml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
*.log
*.xml
